.product-data-tabs {
  margin-top:  40px;
}

.tab-pane {
  padding: 15px 5px;
}

.starRating i:not(:first-of-type) {
  margin-left:  -5px;
  padding-left: 5px;
}

.glyphicon-star, .glyphicon-star-empty {
  color: #eee800;
}

.glyphicon-star {
  text-shadow: 0.5px 0.5px 1px grey;
}

.opinions .opinionTxt {
  clear:  left;
}

.userOpinionForm label {
  width:  110px;
}

.userOpinionForm input, .userOpinionForm textarea {
  width:  60%;
}

.userOpinionForm button {
  margin-left:  115px;
}

.noOpinionsInfo { 
  margin-top:  40px; 
}