<p>
  basket-items works!
</p>
<h2>Your cart content</h2>
<br><br>
<ul class="list-group product-list" >
  <li *ngFor="let item of currentUserCart; let prodIndex= index" class="list-group-item list-group-item-action product-list_item" [attr.data-id]="item | getCartItemData: 'product': 'id'">
<div class="row">
  <div class="col-xs-3">
    <a [title]="item | getCartItemData: 'product': 'name'">
      <img [src]="item | getCartItemData: 'product': 'images': 0" [alt]="item | getCartItemData: 'product': 'name'" class="img-responsive">
    </a>
  </div>
  <div class="col-xs-9">
    <a [routerLink]="['/c', item | getCartItemData: 'categoryId', 'p', item | getCartItemData: 'product': 'id']">
      <h3>
        {{ item | getCartItemData: 'product': 'name' }}
      </h3>
    </a>
    <p class="rating">
      product rating {{ item | getCartItemData: 'product': 'rating' }}
    </p>
    <p class="amount">
      <b>
        Amount: {{ item | getCartItemData: 'amount'}} {{ item | getCartItemData: 'product' : 'stockUnit'}}
      </b>
    </p>
    <p class="price">
      <b>
        price: {{ item | getCartItemData: 'product': 'price' }} zł
      </b>
    </p>
    <p class="price-old">
      old price: {{ item | getCartItemData: 'product': 'priceOld' }} zł
    </p>
    <button type="button" class="btn btn-success add-to-cart" (click)="removeFromCart(prodIndex)">
      Remove from cart
    </button>
  </div>
</div>
  </li>
</ul>
<div class="list-group emptyCart" *ngIf="currentUserCart.length===0">
  <p class="list-group-item list-group-item-warning"><i class="glyphicon glyphicon-exclamation-sign"></i>Twój koszyk jest pusty</p>
  <br><br>
  <button type="button" class="btn btn-info add-to-cart" [routerLink]="['']"><< Wróć do zakupów</button>
</div>