<h2>Chose any item from menu and look around the shop</h2>
<br><br>
<h4 style="color: lightgreen; font-weight: bold;">Next ToDo's:</h4>
<ul>
  <li>update basket list -> item, price, amount, total price</li>
  <li>links to products in 'search results' component</li>
  <li>purchases via cookies</li>
  <li>basket summary page</li>
</ul>
<hr>
<h4 style="color: lightblue; font-weight: bold;">Other ideas:</h4>
<ul>
  <li>images lazy load</li>
  <li>optionally: create frames (i.e. promotions, new etc.) on main page + user-firendly pseudo-cms to fill them with content</li>
  <li>pseudo-cms to add new products</li>
  <li>images slider on product page</li>
  <li>add to comparison</li>
  <li>add to favorites</li>
</ul>
  
  
  
  
  
  
