<p>
  home-page works!
</p>
<h4>Routes (available now only via direct browser url typing)</h4>
<ul>
  <li>path: '', component: HomePageComponent, pathMatch: 'full'</li>
  <li>path: 'c/:name_id', component: CategoryPageComponent</li>
  <li>path: 'c/:id/p/:name_id', component: ProductPageComponent</li>
  <li>path: 'cart', component: BasketPageComponent</li>
  <li>path: 'order', component: PurchasePagesComponent},</li>
  <li>path: '**', component: NotFoundPageComponent</li>
</ul>
  
  
  
  
  
  
