<p>
  home-page works!
</p>
<br><br>
<h4 style="color: lightgreen; font-weight: bold;">Next ToDo's:</h4>
<ul>
  <li>Finish form for adding opinion about product - show it only in opinion edit mode</li> 
  <li>create breadcrumbs or current categories with current location indicators (possible: bold font)</li>
  <li>searching functionality</li>
  <li>basket summary page</li>
</ul>
<hr>
<h4 style="color: lightblue; font-weight: bold;">Later ToDo's and ideas:</h4>
<ul>
  <li>images lazy load</li>
  <li>optionally: create frames (i.e. promotions, new etc.) on main page + user-firendly pseudo-cms to fill them with content</li>
  <li>pseudo-cms to add new products</li>
  <li>functionality to manage storage</li>
  <li>opinions about products</li>
  <li>images slider on product page</li>
  <li>add to comparison</li>
  <li>add to favorites</li>
</ul>
  
  
  
  
  
  
