<p>
  category-items works!
</p>
<h2>
  In our {{currentCategory.name}} offer we have:
</h2>
<br><br>
<ul class="list-group product-list" *ngFor="let item of currentCategoryProducts; let position = index">
  <li class="list-group-item list-group-item-action product-list_item" [attr.data-id]="item.id">
    <div class="row">
      <div class="col-xs-3">
        <a [routerLink]="['/c', currentCategory.id, 'p', item.id]" [title]="item.name">
          <img [src]="item.images[0]" [alt]="item.name" class="img-responsive">
        </a>
      </div>
      <div class="col-xs-9">
        <a [routerLink]="['/c', currentCategory.id, 'p', item.id]">
          <h3>
            {{ item.name }}, id: {{ item.id }}
          </h3>
        </a>
        <p class="rating">product rating {{ item.rating }}</p>
        <a [title]="item.name" [routerLink]="['/c', currentCategory.id, 'p', item.id]">
          <p class="description">
            product description: {{ item.description }}
          </p>
        </a>
        <p class="price">
          <b>
            price: {{ item.price }} zł
          </b>
        </p>
        <p class="price-old" *ngIf="item.priceOld > item.price">
          old price: {{ item.priceOld }} zł
        </p>
        <input type="number" name="addProductAmount" value="1" ref-addAmount class="amount">
        <button type="button" class="btn btn-success add-to-cart" (click)="addToCart(item.id, position, addAmount.value, currentCategory.id, item)">
          Add to cart
        </button>
      </div>
    </div>
  </li>
</ul>
<app-add-basket-popup></app-add-basket-popup>