<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <app-header></app-header>
      </div>
    </div>
  </div>
</header>
<hr>
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        Routes outlet - currently active:
        <hr>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</main>
<hr>
<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</footer>