<p>
  product-page works!
</p>
<div class="row left-pane product-piture">
  <div class="col-xs-12 col-sm-2">
    <app-current-categories></app-current-categories>
  </div>
  <div class="col-xs-12 col-sm-10 right-pane product-data">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <img [src]="this.productActive[0].images[0]" [alt]="this.productActive[0].name" class="img-responsive">
      </div>
      <div class="col-xs-12 col-sm-7">
        <h2>
          {{ this.productActive[0].name }}
        </h2>
        <div class="opinionRating">
            <i *ngFor="let star of stars; let i = index" class="starItem" class="glyphicon {{ i < this.productActive[0].rating ? 'glyphicon-star' : 'glyphicon-star-empty' }}"></i>
            <a class="addOpinion" [routerLink]="[]" [fragment]="'addOpinion'">Rate product</a>
        </div>
        <form>
          <div class="row">
            <div class="col-xs-6 prices">
              <p class="price">Price: {{ this.productActive[0].price | formatPrice }}</p>
              <p class="oldPrice" *ngIf="this.productActive[0].priceOld > this.productActive[0].price">Old price: <span>{{ this.productActive[0].priceOld | formatPrice }}</span></p>
              <label>
                <input type="number" name="productAmount" value="1" class="add-to-cart-amount" ref-addAmount>
                &nbsp;&nbsp;{{ this.productActive[0].stockUnit }}
              </label>
            </div>
            <div class="col-xs-6">
              <button class="btn btn-primary" type="button" (click)="addToCart(this.productActive[0].id, 1, addAmount.value, 0, this.productActive[0])">
                Add to cart
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <app-product-data [productActive]="productActive"></app-product-data>
    <app-add-basket-popup></app-add-basket-popup>
  </div>
</div>
