<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" (click)="revealMenuMobille()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" [routerLink]="['']">MotoShop</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" [ngClass]="{show: navBarReveal}">
      <ul class="nav navbar-nav">
        <li *ngFor="let category of mainCategories" [routerLink]="['/c', category.id]" routerLinkActive="active"><a>{{category.name}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a><span class="glyphicon glyphicon-log-in"></span> Login</a></li> -->
        <li><a [routerLink]="['/cart']"><span class="glyphicon glyphicon-shopping-cart"></span> Go to cart</a></li>
      </ul>
      <form class="navbar-form navbar-right" (ngSubmit)="submitSearchQuery(formData)" #formData="ngForm">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search" name="searchQuery" [(ngModel)]="searchQuery">
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <a><i class="glyphicon glyphicon-search"></i></a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</nav>