.container-fluid {
  max-width:  1500px;
}

.add-to-cart-amount {
  text-align:  center;
  width:  60px;
  font-size: 1.8rem;
}

.glyphicon-star, .glyphicon-star-empty {
  color: #eee800;
}

.glyphicon-star {
  text-shadow: 0.5px 0.5px 1px grey;
}